<nav class="guide-navigation">
  <ul class="guide-navigation-list">
    <li class="guide-navigation-item">
      <%= link_to "Introduction to web", "/en/index.html", relative: true, class: "guide-navigation-link introduction-link", title: "Introduction to web" %>
    </li>
    <li class="guide-navigation-item">
      <%= link_to "The Semantics", "/guide/the-semantics.html", relative: true, class: "guide-navigation-link semantics-link", title: "The Semantics" %>
    </li>
    <li class="guide-navigation-item">
      <%= link_to "The Accessibility", "/guide/the-accessibility.html", relative: true, class: "guide-navigation-link accessibility-link", title: "The Accessibility" %>
    </li>
    <li class="guide-navigation-item">
      <%= link_to "The CSS", "/guide/the-css.html", relative: true, class: "guide-navigation-link css-link", title: "The CSS" %>
    </li>
    <li class="guide-navigation-item">
      <%= link_to "The JavaScript", "/guide/the-javascript.html", relative: true, class: "guide-navigation-link js-link", title: "The JavaScript" %>
    </li>
  </ul>
</nav>
