<% wrap_layout :layout do %>
  <aside class="guide-aside" id="guide-aside">
    <header class="guide-header">
      <h2><%= current_page.data.title %></h2>
      <section><%= current_page.data.introduction %></section>
      <h3>Navegue por tópicos:</h3>
      <ul class="guide-topics-list">
        <li class="guide-topics-item">
          <%= link_to current_page.data.title, "#top", class: "guide-topics-link" %>
        </li>
        <% chapters(current_page).each do |chapter| -%>
          <li class="guide-topics-item">
            <%= link_to chapter, "##{chapter.downcase.gsub(/\s/, "-")}", class: "guide-topics-link" %>
          </li>
        <% end -%>
      </ul>
    </header>
    <footer>
      <%= partial "shared/navigation" %>
    </footer>
  </aside>
  <main class="guide-article" id="guide-article">
    <article id="guide-content">
      <%= yield %>
    </article>
  </main>
<% end %>
