<h3>
  Outros caminhos:
</h3>
<nav class="guide-navigation">
  <ul class="guide-navigation-list">
    <li class="guide-navigation-item">
      <%= link_to "Introdução à web", "/", class: "guide-navigation-link introduction-link" %>
    </li>
    <li class="guide-navigation-item">
      <%= link_to "A semântica", "/guia/a-semantica.html", class: "guide-navigation-link semantics-link" %>
    </li>
    <li class="guide-navigation-item">
      <%= link_to "A acessibilidade", "/guia/a-acessibilidade.html", class: "guide-navigation-link accessibility-link" %>
    </li>
    <li class="guide-navigation-item">
      <%= link_to "O CSS", "/guia/o-css.html", class: "guide-navigation-link css-link" %>
    </li>
    <li class="guide-navigation-item">
      <%= link_to "O JavaScript", "/guia/o-javascript.html", class: "guide-navigation-link js-link" %>
    </li>
  </ul>
</nav>
